# Byte-code files
*.pyc
__pycache__/

# Django stuff:
*.log
*.pot
*.sql
*.sqlite3
.env
/dev_db_data/ # Your Docker database volume data
/media/
/static_root/ # Collected static files

# Dependencies
.Python
env/
venv/
bin/
include/
lib/
lib64/

# OS files
.DS_Store
.envrc
.idea/
.vscode/

# Docker
*.env # If you have .env files for Docker variables
.dockerignore # Often useful, but not usually ignored from source control